body 
{
  background-image: url("contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.contact_outer
{
    height: 500px;
    width: 300px;
    background-color: black;
    margin: 70px;
    border-radius: 20px;
    box-shadow: 0 0 20px #515ad8, 0 0 40px #904dfc;
      color: white;
    font-size: large;
    font-weight: bold;
}
ol {
    padding-left: 50px;
    padding-top: 80px;

}
li {
    margin-top: 50px;   /* Increase to 200px, 250px, etc. */
}
#prev
{
  float: right;
  margin-top: 90px;
  margin-right: 40px;
  border-radius: 50px;
}

.commun
{
   height: 90px;
   width: 90px;
   color: azure;
   background-color: #270a5ce7;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(171, 182, 192);
    
}
.commun:hover
{
   box-shadow: 0 0 20px #515ad8, 0 0 40px #904dfc;
}
